version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: domaintik
    ports:
      - "${APP_PORT:-8080}:80"
      - "5173:5173"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - redis
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=domaintik_db
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  db:
    image: postgres:15
    container_name: domaintik_db
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "${DB_FORWARD_PORT:-5432}:5432"

  adminer:
    image: adminer
    container_name: domaintik_adminer
    ports:
      - "8081:8080"
    depends_on:
      - db
  
  redis:
    image: redis:alpine
    container_name: domaintik_redis
    ports:
      - "6379:6379"

volumes:
  pg_data: